{% extends 'partials/layout.html' %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}
  
{% block slide %}
{% include "partials/slide.html" %}
{% endblock slide %}
 
{% block polular_categories %}
{% include "partials/popular_categories.html" %}
{% endblock polular_categories %}
    
{% block recent_job %}
{% include "partials/recent_jobs.html" %}
{% endblock recent_job %}
    
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
   
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}