{% extends 'partials/layout.html' %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}
  

{% block polular_categories %}


      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Popular Categories</h2>
          </div>
        </div>
        <div class="row">

      
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
            <a href= "" class="h-100 feature-item">
              <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
              <h2> {{candidate_jobs.title}} </h2>
              <span class="counting"></span>
               </a>
          </div>
     
      </div>
      </div>
      </div>

{% endblock polular_categories %}
    

    
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
   
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}