{% extends 'partials/layout.html' %}

{% block header %}
{% include "partials/header.html" %}
{% endblock header %}
  
 
{% block polular_categories %}

    <div class="unit-5 overlay" style="background-image: url('/static/images/img_1.jpg')">
      <div class="container text-center">
        <h2 class="mb-0"></h2>
        <p class="mb-0 unit-6"><a href="{% url 'home' %}">Home</a> <span class="sep">></span> <span>Job Item</span></p>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <div class="p-5 bg-white">

              <div class="mb-4 mb-md-5 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4"><p style="text-decoration: underline;">{{ detail_jobs.title }}</p></h2>
                 <div class="badge-wrap">
                  <span class="border border-warning text-warning py-2 px-4 rounded">
                  {% for jobcategory in detail_jobs.jobcategory.all %}
                  {{ jobcategory.title }}  {% endfor %}
                  </span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <span class="icon-suitcase mr-1"></span>{{ detail_jobs.company_name }}</div>
                 <div><span class="fl-bigmug-line-big104"></span> <span class="icon-room mr-1"></span>{{ detail_jobs.address }}</div>
               </div>
              </div>
        
 
              <div class="img-border mb-5">
                <img src="{{detail_jobs.cover_image.url }}" alt="Image"class="img-fluidid" style="width:400px">
                  <span class="icon-wrap">
                    
                    <h5>{{ detail_jobs.content }}</h5>
                  </span>
                  
                </a>
              </div>
            
                <table class="table table-hover">
                      <thead>
                        
                      <h5>Basic Job Information</h5>
                      <tbody>
                        <tr>
                          
                          <td>Job Category</td>
                          <td>:   {{detail_jobs.title}}</td>
                          
                        </tr>
                        <tr>
                          
                          <td>Job level</td>
                          <td>:    {{detail_jobs.job_level}}</td>
                          
                        </tr>
                        <tr>
                          <td>No.of Vacancy/s</td>
                          <td>:    {{detail_jobs.vacancy_no}}</td>
                        </tr>
                        <tr>
                          <td>Employment Type</td>
                          <td>:    {% for jobcategory in detail_jobs.jobcategory.all %}
                  {{ jobcategory.title }}  {% endfor %}</td>
                        </tr>
                        <tr>
                          <td>Job Location</td>
                          <td>:    {{detail_jobs.address}}</td>
                        </tr>
                        <tr>
                          <td>Offered salary</td>
                          <td>:    {{detail_jobs.salary}}</td>
                        </tr>
                      <tr>
                      <td><h5>Job Specification</h5></td>
                      <td> </td>
                      </tr>
                        <tr>                          
                          <td>Education Level</td>
                          <td>:   {{detail_jobs.education}}</td>
                          
                        </tr>
                        <tr>
                          <td>Experience Required</td>
                          <td>:    {{detail_jobs.experience}}</td>
                          
                        </tr>
                        <tr>
                          <td>Professional Skill Required</td>
                          <td>:    {{detail_jobs.skills}}</td>
                        </tr> 
                        <tr>
                          <td><h5>Job Description</h5></td>
                          
                          <td>
                          <ul>
                          <li> 
                             {{detail_jobs.job_description}}</li></ul> </td>
                             
                          
                        </tr>
                      </tbody>
                      </thead>
                    </table>
          
              <p class="mt-5"><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p>
            </div>
          </div>
          </div>
                    <p>
                    {% if request.user.is_authenticated and detail_jobs.author == request.user %}
                    <a href="{% url 'update_jobs' pk=detail_jobs.id %}"><button type="button" class="btn btn-info">Update</button></a>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger text-light " data-toggle="modal" data-target="#exampleModal">
                      Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            {{ detail_jobs.title }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'delete_jobs' pk=detail_jobs.id %}"><button type="button" class="btn btn-primary">Confirm</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    {% endif %}
 
                    </p>
                  </div>
        </div>
      </div>
    </div> 

        



<div class="job-post-item-body d-block d-md-flex">







{% endblock polular_categories %}
    

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
   
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}